.container {
  display: flex;
  align-items: center;
  height: 70px;
  width: calc(100% - 10px);
  margin: 5px;
  border-radius: 4px;
  flex-shrink: 0;
  overflow: auto;
  background: white;
  border: 1px solid #e8e9ee;
  box-shadow: 1px 1px 1px #31313126, -1px -1px 1px #31313100;
  transition: all .2s ease-out;
  position: relative;

  &:hover {
    box-shadow: 3px 3px 3px #31313126, -1px -1px 1px #31313100;
  }
}

.input {

}

.select {
  width: 150px;
}

.inputContainer {
  margin-left: 20px;
}

.text {

}

.btnAdd {
  margin-right: 65px;
  background: #3baeff;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.btnComment {
  margin-left: auto;
  margin-right: 20px;
  background: #3baeff;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.commentsContainer {
  position: absolute;
  top: 80px;
  display: flex;
}
